
@font-face {
  font-family: 'Monospace';
  src: url('./public/fonts/Inconsolata-Regular.ttf') format("truetype");
}

@font-face {
  font-family: 'Monospace-Bold';
  src: url('./public/fonts/Inconsolata-Bold.ttf') format("truetype");
}

html {
	margin:0px;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	display: block;
	height: 100%;
}


body {
	margin: 0;
	text-align:center;
	background: black;
	text-align: center;
}

p{
	margin:0px;
	padding: 0px;
	font-family: monospace;
	letter-spacing: 0.3px;
	color: rgba(255, 255, 255, 0.54);
}

span {
	margin:0px;
	padding: 0px;
	font-family: monospace;
	letter-spacing: 0.3px;
	color:rgba(255, 255, 255, 0.54);
}

a {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	vertical-align: baseline;
	cursor: pointer;
	color:white;
	color:rgba(255, 255, 255, 0.54);
	text-decoration: none;
	font-family: monospace;
	letter-spacing: 0.3px;
}

h2{
	font-size: 32px;
	font-weight: 200;
	font-family: monospace;
	margin:0px;
	color:rgba(255, 255, 255, 0.54);;
}

img{
	vertical-align: middle;
}

div{
	box-sizing: border-box;
}


button{
	width: 132px;
	height: 40px;
	border-radius: 5px;
	font-family: monospace;
	font-size: 14px;
	background: transparent;
	color:white;
	border:1px solid #211f1f;
	outline: 0px;
	padding: 0px;
	cursor: pointer;
}

.spinner {
	width: 100%;
	text-align: center;
	height: calc(100% - 60px);
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #707070;
	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0);transform: scale(0);}
	40% { -webkit-transform: scale(1.0); transform: scale(1.0);}
}


.small-display-pic {
	height: 30px;
	width: 30px;
	overflow: hidden;
	border-radius: 50%;
	background: #707070;
	flex-shrink: 0;
}

input {
	width:auto;
	height: 40px;
	padding: 10px;
	font-family: monospace;
	letter-spacing: 0.3px;
	font-size: 18px;
	color:rgba(255, 255, 255, 0.2);
	box-sizing: border-box;
	background:rgba(255, 255, 255, 0.2);
	border:0px;
	border-radius: 3px;
	outline: 0px;
}

input:focus{
	border:0px;
	outline: 0px;
}


nav {
	width: 100%;
	height: 75px;
	position: fixed;
	padding:20px 40px;
	box-sizing: border-box;
	background:black;
	top:0px;
	z-index: 11;
	display: flex;
	border-bottom: solid 1px #211f1f;
	flex-direction: row;
}

nav title{
	font-family: 'Alex Brush', cursive;
	font-size: 32px;
	display: block;
	color:rgba(255, 255, 255, 0.54);
}

nav input{
	margin-right: 30px;
	margin-left: 30px;
	height: auto;
	flex-grow:2;
	padding: 7px 10px 10px 10px;
}

nav .small-display-pic{
	width: 36px;
	height:36px;
}

.grid{
	padding: 20px;
	margin-top:95px;
	z-index: 10;
}

.user-detailBox{
	width: 100%;
	height:auto;
	margin-bottom: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	/*background: blue;*/
}

.user-detailBox .user{
	width:auto;
	height: auto;
	display: flex;
	flex-direction: row;
	align-items:flex-start;
	justify-content: center;
	/*background: red;*/
}

.user-detailBox .small-display-pic {
	width:152px;
	height: 152px;
}

.user-detailBox .details{
	height:auto;
	width: 500px;
	margin-left: 40px;
}

.user-detailBox .details .first-strip{
	height: 40px;
	width: 100%;
	margin-bottom:20px;
	text-align: left;
	display:flex;
	flex-direction: row;
}

.user-detailBox .details .first-strip h2{
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: inline-block;
}

.user-detailBox .details .first-strip button{
	margin-left: 20px;
}

.user-detailBox .details .second-strip{
	height: 20px;
	width: 100%;
	margin-bottom:20px;
	display: flex;
	flex-direction: row;
}

.user-detailBox .details .second-strip .col{
	margin-right:30px;
}

.user-detailBox .details .second-strip .col:last-child{
	margin-right: 0px;
}

.user-detailBox .details .third-strip{
	height: auto;
	width: 100%;
	text-align: left;
}

.user-detailBox .details .third-strip p{
	font-weight: 600;
	font-size: 16px;
	display: inline;
}

.user-detailBox .details .third-strip span{
	font-size: 16px;
	margin-left:2px;
	margin-right: 2px;
}

.user-detailBox .details .third-strip a{
	font-size:16px;
}


.grid-layout{
	width:100%;
	display: inline-block;
	height: 100vh;
	background:transparent;
	position: relative;
}

.insta-card {
	width: 300px;
	border:1pt solid rgba(255,255,255,0.3);
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.19);
	left:0px;
	top:0px;
	transition: border .3s,color .3s;
}

.insta-card:hover {
	border:1pt solid rgba(255,255,255,0.5);
}

.insta-card .headerBox{
	height: 60px;
	width: 100%;
	display: flex;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 16px;
	flex-direction: row;
	align-items: center;
	/*border:solid 1px #707070;*/
}

.insta-card .headerBox .username{
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	flex-grow:1;
	flex-shrink: 1;
	-webkit-box-align: start;
	position: relative;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	box-sizing: content-box;
	margin-left: 10px;
	overflow: hidden;
}

.insta-image {
	width: 100%;
	display: none;
}

.downloadIcon{
	position: absolute;
	width: 20px;
	height: 20px;
	left:8px;
	top:68px;
	z-index: 1;
	cursor: pointer;
}

.image-animation{
	-webkit-animation: imagedisplay 1.4s  ease-in-out both;
	animation: imagedisplay 1.4s ease-in-out both;
	display: block;
}

@-webkit-keyframes imagedisplay {
	0%{ -webkit-transform: scale(0) }
	100% { -webkit-transform: scale(1.0) }
}

@keyframes imagedisplay {
	0%{ -webkit-transform: scale(0);transform: scale(0);}
	100% { -webkit-transform: scale(1.0); transform: scale(1.0);}
}

.card-animation {
	-webkit-transform:translateY(200px);
	transform: translateY(200px);
	-webkit-animation: moveUp 0.65s ease forwards;
	animation: moveUp 0.65s ease forwards ;
}

@-webkit-keyframes moveUp(){
	0% { }
	100% { -webkit-transform: translateY(0); opacity: 1;}
}

@keyframes moveUp {
	0% { }
	100% {-webkit-transform: translateY(0); transform: translateY(0); opacity: 1;}
}

.card-footer {
	width: 100%;
	height:40px;
	/*background: red;*/
	display: flex;
	flex-direction:row;
	padding:8px;
}

.card-footer .heart-icon{
	width: 24px;
	height: 24px;
  cursor: pointer;
}

.progress-bar {
	position: fixed;
	z-index: 999999;
	top: 0;
	left: 0;
	width:100%;
	height: 4px;
	opacity:0;
	background-image:linear-gradient(-135deg,#1400c8,#b900b4,#f50000);
	/*background-image: linear-gradient(-135deg,#c6c5d0,#8e758c,#b39b9b);*/
	border-radius: 10%;
	animation: progress 6s ease infinite forwards;
}

@keyframes progress {
	0% {width: 0%},
	10% {width: 10%},
	20% {width: 20%},
	30% {width: 30%},
	40% {width: 40%},
	50% {width: 50%},
	60% {width: 60%},
	70% {width: 70%},
	80% {width: 80%},
	90% {width: 90%},
	100% {width: 100%}
}

.landing-page{
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
}

.sliding-page {
	padding-top: 20px;
	width: 100%;
	height:auto;
	background:black;
	-webkit-transform:translateY(0px);
	transform: translateY(0px);
	-webkit-animation: moveDown 180s ease infinite forwards;
	animation: moveDown 180s ease infinite forwards ;
	position:fixed;
}

@-webkit-keyframes moveDown(){
	0% { }
	100% { -webkit-transform: translateY(-4000px); opacity: 1;}
}

@keyframes moveDown {
	0% { }
	100% {-webkit-transform: translateY(-4000px); transform: translateY(-4000px); opacity: 1;}
}

.sliding-page .cover{
	width: 100vw;
	height:4256px;
	position:absolute;
	z-index: 1;
	background:rgba(0,0,0, 0.5);
	top:0px;
}

.landing-card {
	width: 180px;
	height: 190px;
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.19);
	transition: border .3s,color .3s;
	display: inline-block;
	background: black;
	overflow: hidden;
	margin-bottom: 20px;
}

.landing-card .profile-pic{
	width:150px;
	height: 150px;
	border-radius: 50%;
	border:1pt solid rgba(255,255,255,0.3);
	box-sizing: border-box;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.19);
	transition: border .3s,color .3s;
	display: inline-block;
	background: black;
	overflow: hidden;
	margin-bottom: 10px
}

.landing-card .profile-pic img{
	width: 100%;
	height: 100%;
}

.landing-card p{
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	font-family: monospace;
	font-size: 16px;
}

.login-card{
	width:400px;
	height: 533px;
	background:rgba(0,0,0,.8);
	position: fixed;
	left: 50%;
	top: 50%;
	position: absolute;
	transform: translateX(-50%) translateY(-50%);
	z-index: 2;
	border-radius: 10px;
	padding: 20px 40px;
	border:0.5px solid #211f1f;
	box-shadow: 2px 3px 4px 0 #211f1f;
	display: flex;
	align-items:center;
	flex-direction: column;
}

.login-card .login-strip {
	width:300px;
	height: 60px;
	display: flex;
	border-radius: 5px;
	background:;
	flex-direction:row;
	align-items:center;
	justify-content: center;
	cursor: pointer;
	border:1pt solid rgba(255,255,255,0.3);
}

.login-card .login-strip img{
	height: 40px;
}

.login-card .login-strip p{
	font-size: 16px;
	margin-left: 18px;
}

.login-card title{
	font-family: 'Alex Brush', cursive;
	font-size: 56px;
	display: block;
	color:rgba(255, 255, 255, 0.54);
}

.login-card .insta-card {
	width: 300px;
	height:auto;
	border:1pt solid rgba(255,255,255,0.3);
	box-sizing: border-box;
	border-radius: 5px;
	box-shadow: 0 0 5px 0 rgba(0,0,0,.19);
	margin-bottom: 20px;
}


.login-card .insta-card .center-image{
	width: 298px;
	height:240px;
}

.login-card .insta-card .center-image .small-display-pic {
	width:298px;
	height:240px;
	border-radius:0px;
}
