<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link href="https://fonts.googleapis.com/css?family=Alex+Brush" rel="stylesheet">
  </head>
  <body>
    <div id="root">
    </div>
  </body>
</html>
